*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
}

#box1{
    height: 820px;
    width: 1000px;
    background-color: rgb(255, 196, 2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 60px;
    font-weight: bolder;
    position: absolute;
    
.h6{
    font-size: small;
}
}
#box1{
    position: absolute;
    padding-left: 100px;
    padding-top: 200px;
    
}
#box2 i{
    
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 20px;


}

#box1 h1{
    font-size: 10rem;
    /* background-color: red; */
}



#sub{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: normal;
    font-size: 20px;
}
 .desc{
    font-family: Arial, Helvetica, sans-serif;


    font-size:20px;
 }


    

#box2{
    width: 520px;
    height: 820px;
    background-color: rgb(255, 239, 175);
    position: absolute;
    top: 0;
    left: 1000px;
    
}
#pic{
    width: 500px;
    height: 550px;
    position: absolute;

    top: 100px;
    left: 810px;
    z-index: 2;
}

#pic1{
    width: 150px;
    height: 100px;
    position: absolute;
    top: 10px;
    left: 30px;


}

#pic2{
    width: 250px;
    height: 100px;
    position: absolute;
    opacity: .2;
    bottom: 25px;
    left: 30px;
}